body {
    background-color:rgb(36, 36, 36);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center; 
    min-height: 100vh;
    text-align: center;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: .5rem;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
}
ul.header {
    background-color: rgb(36, 36, 36);
    padding: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    align-items: center;
}
table{
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  color: #FFF;
  width: 100%;
  
}
tr{
  width: 50%;
}

.active {
  background-color: #0099FF;
}

.input {
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
}

select {
    margin-left: .5rem;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}
